/* ヘッダー部分 */
.background{
  background-color: whitesmoke;
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
  overflow: auto;
}
.no{
  background-color: skyblue;
  height: 80px;
}
.new-name1{
  border-left: 5px solid chocolate;
  margin: 20px 70px 30px;
}
.new-name2{
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}
/* ヘダー部分 */

/* 投稿フォーム */
.contents-new{
  background-color: cornsilk;
  border: 2px solid chocolate;
  margin: 0 50px;
  padding: 50px 0;
}
.reg-new1{
  /* background-color: crimson; */
  display: flex;
  align-items: center;
  margin: 0 50px;
}
.reg1{
  background-color: lightgray;
  border: 2px solid chocolate;
  display: flex;
  align-items: center;
  height: 50px;
  width: 30%;
}
.reg2{
  background-color: lightgray;
  width: 30%;
  text-align: center;
}
.reg3{
  /* background-color: lightgreen; */
  width: 70%;
  font-size: 20px;
  font-weight: bold;
}
.reg-new2{
  background-color: seashell;
  height: 50px;
  width: 70%;
  display: flex;
  align-items: center;
  border: 2px solid chocolate;
}
.reg4{
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.reg5{
  border: solid 2px chocolate;
  width: 70%;
  height: 40px;
}
.indispensable{
  background: #ea352d;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
/* 投稿フォーム */

/* コメントエリア */
.comment{
  font-size: 20px;
  text-align: center;
  color: #4c4c4c;
  font-weight: bold;
  margin-top: 30px;
}
.comment1{
  align-items: center;
  color: #4c4c4c;
}
.comment2{
  text-align: center;
}
.comment-area{
  font-size: 20px;
  font-weight: bold;
  width: 70%;
  height: 300px;
  padding-left: 15px;
  resize: none;
  white-space: pre-wrap;
  border: solid chocolate;
}
/* コメントエリア */

/* 登録ボタン */
.send-btn{
  text-align: center;
}
.send-btn1{
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 0.2em 1em 0.2em 1em;
  color: black;
  border: solid 2px black;
  background-color:red;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
}
.send-btn1:hover{
  background-color:  blue;
  border: solid 5px black;
}
/* 登録ボタン */